@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #131311;
  --foreground: #ededed;
  --gold: #D8B85A;
  --gold-hover: #e5b83b;
  --card-bg: #1a1a1a;
  --red: ##FFB4AB;
  --green: #acd8a7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: var(--gold);
  --color-gold-hover: var(--gold-hover);
  --color-card: var(--card-bg);
  --color-red: var(--red);
  --color-green: var(--green);
  --font-sans: var(--font-geist-sans);
  --font-inter: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --font-prompt: var(--font-prompt);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
